<launch>
    <!-- Start Django controller -->
    <rosparam file="$(find rosban)/config/Django_calib_legs.yaml" command="load"/>
    <node name="tilt_controller_spawner" pkg="dynamixel_controllers"
    type="controller_spawner.py" args="--manager=dxl_manager --port django_port lleg_a_r_controller lleg_a_p_controller rleg_h_y_controller rleg_h_r_controller rleg_h_p_controller rleg_k_p_controller rleg_a_p_controller rleg_a_r_controller lleg_h_y_controller lleg_h_r_controller lleg_h_p_controller lleg_k_p_controller" output="screen"/>

</launch>
